@font-face {
	font-family: "Geist";
	src: url("./fonts/Geist.woff2");
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bgcolor: #0c0a09;
		--header-bgcolor: #1c1917;
		--section-bgcolor: #1c1917;
		--text-color: #e7e5e4;
		--hover-color: #ffffff;
		--link-color: #c4bdb8;
		--link-visited-color: #7f7b78;
		--accent-color: #a5b4fc;
	}

	#logo > a > img {
		filter: invert(1);
	}

	.github_account::after {
		filter: invert(1);
	}

	#githublogo {
		filter: invert(1);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--body-bgcolor: #e4e4e4;
		--header-bgcolor: #fafaf9;
		--section-bgcolor: #fafaf9;
		--text-color: #0c0a09;
		--hover-color: #78716c;
		--link-color: #292524;
		--accent-color: #3b82f6;
	}
}

html {
	font-family: "Geist", sans-serif;
	scroll-padding-top: 8em;
	overflow: scroll;
	background: var(--body-bgcolor);
	margin-bottom: 0;
	padding-bottom: 0;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: var(--body-bgcolor);
	color: var(--text-color);
	padding-bottom: 1em;
}

.hidden {
	display: none;
}

/* HEADER */
header {
	margin: 0;
	background-color: var(--header-bgcolor);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;

	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.4);

	position: sticky;
	top: 0;
	z-index: 100;
}

header h1 {
	margin: 0;
	padding: 0;
}

#logo > a > img {
	vertical-align: -0.1em;
	width: 5em;
	height: 1em;
}

.nav {
	flex-shrink: 0;
	text-decoration: none;
	color: var(--text-color);
}

.nav:hover {
	color: var(--hover-color);
	text-decoration: underline;
}

#githublogo {
	width: 1.5em;
	height: 1.5em;
}

#logo {
	flex-grow: 1;
}

#logo img {
	width: 200px;
	height: 35px;
}

/* MAIN */
main {
	padding-left: 1em;
	padding-right: 1em;
}

hr {
	border: 0;
	border-top: 0.1em solid var(--body-bgcolor);
	margin-top: 2em;
	margin-bottom: 2em;
}

section {
	padding: 0.5em 1.5em;
	background-color: var(--section-bgcolor);
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	max-width: 80vh;
	margin-left: auto;
	margin-right: auto;
}

section h3 {
	font-size: larger;
}

.verbali {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	justify-content: space-between;
	gap: 2em;
}
.link-lettera{
	grid-column: span 2;
	text-align: center;
	
}

.verbali h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.verbali div {
	max-width: fit-content;
}

.verbali > div {
	min-width: 23em;
}

.link-file {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding: 0;
}

.link-file li {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: start;
	align-items: stretch;
	gap: 0.7em;
	margin-bottom: 0.5em;
}

.link-file li a {
	max-width: fit-content;
}

#persone {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.persona a:hover {
	text-decoration: underline;
}

.persona a {
	text-decoration: none;
	color: var(--text-color);
}

.persona a:hover {
	color: var(--hover-color);
}

.persona {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
}

.persona > img {
	border-radius: 50%;
	width: 4em;
}

.persona > div > a > img {
	vertical-align: text-bottom;
}

.persona > div {
	display: grid;
	grid-template-rows: auto auto;
	gap: 0.4em;
}

.mail {
	font-size: smaller;
}

#documenti{
	padding-bottom: 1em;
}

#documenti hr {
	margin-top: 1em;
	margin-bottom: 1em;
	border-top: 0.1em solid var(--link-color);
	opacity: 0.5;
}

#documenti a {
	color: var(--link-color);
}

#documenti a:hover {
	color: var(--text-color);
}

#documenti a:visited {
	color: var(--link-visited-color);
}
#documenti a:visited:hover {
	color: var(--text-color);
}

#contatti a {
	color: var(--link-color);
}

#contatti a:hover {
	color: var(--text-color);
}

.github_account::after {
	content: "🔗";
}

/* GLOSSARIO */
h3 {
	font-size: x-large;
}
#alfabeto {
	display: flex;
	flex-wrap: wrap;
	justify-items: center;
	justify-content: center;
	gap: 0.8em;
}

dt {
	font-weight: bold;
	color: var(--accent-color);
}
dt::before {
	content: "| ";
}
dt::after {
	content: ":";
}
dd {
	margin-left: 1em;
	margin-bottom: 1em;
}
dd::before {
	content: "“";
}
dd::after {
	content: "”";
}


.accordion-header {
	cursor: pointer;
	position: relative;
	padding-right: 1.5em; /* spazio per l'icona */
	padding-left: 1em;
}

/* Aggiunge la freccia a destra dell'header */
.accordion-header::before {
	content: "▸";
	position: absolute;
	left: 0;
	transition: transform 0.3s;
	transform: rotate(0deg);
}

/* Ruota la freccia quando l'header è attivo */
.accordion-header.active::before {
	transform: rotate(90deg);
}

/* .accordion-content {
	padding-left: 1em;
} */

/*media query*/
@media (max-width: 820px) {
	.nav.extra {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr 1fr 2fr 1fr;
	}

	.verbali {
		grid-template-columns: 1fr;
		gap: 1em;
	}

	.verbali > div {
		min-width: 0;
	}
}
