@font-face {
	font-family: "Geist";
	src: url("./fonts/Geist.woff2");
}

@media (prefers-color-scheme: dark) {
	:root {
		--body-bgcolor: #0c0a09;
		--header-bgcolor: #1c1917;
		--article-bgcolor: #1c1917;
		--text-color: #e7e5e4;
		--hover-color: #a8a29e;
		--link-color: #a8a29e;
	}
	#logo > a > img {
		filter: invert(1);
	}
	.persona > div > a > img {
		filter: invert(1);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--body-bgcolor: #e4e4e4;
		--header-bgcolor: #fafaf9;
		--article-bgcolor: #fafaf9;
		--text-color: #0c0a09;
		--hover-color: #78716c;
		--link-color: #292524;
	}
}

html {
	font-family: "Geist", serif;
	scroll-padding-top: 5em;
	background: var(--header-bgcolor);
	margin-bottom: 0;
	padding-bottom: 0;
}
body {
	margin: 0;
	background-color: var(--body-bgcolor);
	color: var(--text-color);
	padding-bottom: 1em;
}
header {
	margin: 0;
	background-color: var(--header-bgcolor);
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;

	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	justify-content: space-evenly;
	box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.4);

	position: sticky;
	top: 0;
}
header h1 {
	margin: 0;
	padding: 0;
}

#logo > a > img {
	vertical-align: -0.1em;
	width: 5em;
	height: 1em;
}
.nav {
	flex-shrink: 0;
	text-decoration: none;
	color: var(--text-color);
}
.nav:hover {
	color: var(--hover-color);
	text-decoration: underline;
}
#logo {
	flex-grow: 1;
}
main {
	padding-left: 1em;
	padding-right: 1em;
}
hr {
	border: 0;
	border-top: 0.1em solid var(--body-bgcolor);
	margin-top: 2em;
	margin-bottom: 2em;
}
article {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: var(--article-bgcolor);
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 0.5em;
	max-width: 80vh;
	margin-left: auto;
	margin-right: auto;
}
#verbali {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	gap: 2em;
}
#verbali h4 {
	margin-top: 0;
	margin-bottom: 0.5em;
}
#verbali div {
	max-width: fit-content;
}
.link-file {
	margin-top: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding: 0;
}
.link-file li {
	display: grid;
	grid-template-columns: 1fr auto;
	justify-content: start;
	align-items: stretch;
	gap: 0.7em;
	margin-bottom: 0.5em;
}
.link-file li a {
	max-width: fit-content;
}
#persone {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.persona a:hover {
	text-decoration: underline;
}
.persona a {
	text-decoration: none;
	color: var(--text-color);
}
.persona a:hover {
	color: var(--hover-color);
}
.persona {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: 1em;
	margin-bottom: 1em;
}
.persona > img {
	border-radius: 50%;
	width: 4em;
}

.persona > div > a > img {
	vertical-align: text-bottom;
}

.persona > div {
	display: grid;
	grid-template-rows: auto auto;
	gap: 0.4em;
}
.mail {
	font-size: smaller;
}

#documenti a {
	color: var(--link-color)
}
#documenti a:hover {
	color: var(--text-color)
}

#contatti a {
	color: var(--link-color)
}
#contatti a:hover {
	color: var(--text-color)
}

/*media query*/
@media (max-width: 500px) {
	.nav {
		display: none;
	}
	header {
		flex-direction: column;
		gap: 1em;
	}
	#verbali {
		grid-template-columns: 1fr;
		gap: 1em;
	}
}
